<p>devis works!</p>

<a routerLink="/equipements"> equipement</a>

<h6>Devis:</h6>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>ID</th>
        <th>Status</th>
        <th>User</th>
        <th>Equipement</th>
        <th>Total Price</th>
        <th>Action</th> 
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let devis of devis">
        <td>{{ devis.id }}</td>

        <td>{{ devis.devisStatus }}</td>
        <td>{{devis.demande.user.fullName}}</td>
        <td>{{devis.demande.equipement.name}}</td>
        <td>{{ devis.demande.equipement.dailyRentalCost }}</td>
        <td>
            <button (click)="test(devis.id)" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Update
             </button>
             
             <app-devis-modal [selectedDevisId]="selectedDevisId"></app-devis-modal>
        </td>
        
      </tr>
      </tbody>
    </table>

    <app-devis-modal></app-devis-modal>


    

